<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #478b9b"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">HK Budget</a>

    <div id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link btn custom-btn-info px-5 text-light" href="/logout"
          ><i class="fas fa-sign-out-alt"></i> Logout</a
        >
      </div>
    </div>
  </div>
</nav>

<!-- nav 2 -->

<div class="container bg-light shadow my-2">
  <div class="d-sm-flex p-2 flex-wrap">
    <a
      href="/"
      style="background-color: #772e74"
      class="btn custom-nav-btn text-light"
      >Home</a
    >
    <a
      href="/income-expense"
      style="background-color: #6f42c1"
      class="btn custom-nav-btn text-light"
      >Income Expense</a
    >

    <a
      href="/billsplit"
      style="background-color: #d63384"
      class="btn custom-nav-btn text-light"
      >Bill Split</a
    >

    <a
      href="/loan"
      style="background-color: #5d9b88"
      class="btn custom-nav-btn text-light"
      >Loan</a
    >

    <a
      href="/analysis"
      style="background-color: #553092"
      class="btn custom-nav-btn text-light"
      >Analysis</a
    >

    <a
      href="/profile"
      style="background-color: #cf8d55"
      class="btn custom-nav-btn text-light"
      ><i class="far fa-user-circle"></i> Profile</a
    >
  </div>
</div>
